body{
	font-family: 'Work Sans', sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin:  0 auto;
	position: relative;	 
}
/******************* Forsíða  ********************/
/*************************************************/
/*Banner 1*/
.hero-img{
	background-color: grey;
	background-image: url(../img/banner-1.jpg);
	background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
	height:100vh;	
}
.hero-content{
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column; 
	margin: 0 auto;
	align-items: center; 
	justify-content: center;
}
.hero-content h1{
	color:#fff;
	text-align: center;
}
/*icond Örin*/
section .fa-angle-down{
	color: #fff;
	font-size: 20px;
}
/* ALLAR HERO myndir*/
.hero-ad.one{
	background-color: #fff;
	background-image: url(../img/banner-3.jpg);
}
.hero-ad.two{
	background-image: url(../img/banner-2.jpg);	
}
.hero-valin-syning{
	background-color: #fff;
	background-image: url(../img/banner-valin-syning.jpg)

}
.hero-ad,.hero-valin-syning{
	height: 100vh;
	background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}
/*banner mynd fyrir mobile*/
.mobile-banner{
	display: none;
}
/*content á banner 2 & 3*/
.hero-ad-container{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.hero-ad-container.second{
	display: flex;
	justify-content:flex-end;
	width: 90%;
}
.hero-ad-content{
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.hero-ad-content.second{
	color:#fff;
}
.hero-ad-content p{
	padding-top: 40px;
	text-align: left;
	position: relative;
}
.texti-med-linu{
	position: relative;
	display: flex;
	justify-content: center;
}
.texti-med-linu:after{
	position: absolute;
	content:'';
	width: 40%;
	border-bottom: solid 1px #AF1F44;
	top:15%;	
}
.hero-ad-content.kaupa-btn{
	padding-top: 40px;
}
/**** Cards ******/

.cards-frontpage-container{
	width: 85%;
	margin:0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
}
.cards-frontpage-container h3{
	padding-bottom: 40px;
}
.cards-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}
.card{
	width: 320px;
	margin: 16px;
	height: 400px;	
	position: relative;
}
.card img{
	width:100%;
	height:100%;
	position: relative;
}
.hover-slide{
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
}
.hover-slide:hover{
	opacity: 1;
}
.card h4{
	position: absolute;
	bottom:24px;
	left:24px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
.cards-frontpage-container p{
	text-align: center;
}
/**** Tjarnarbarinn ******/
.tjarnarbarinn-img{
	width: 480px; 
	height: 704px;
}
.tjarnabarinn-container{
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 80px;
}
/******************* Syningar ********************/
/*************************************************/
.syninga-btn-container{
	width: 100%;
	margin: 0 auto;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 40px;
}
.syningar-nav{
	display:flex;
	flex-direction: row;
	width: 60%;
}
.syningar-nav h3{
	padding-right:32px;
}

.syningar-nav div:hover,.syning-active-btn,.vidburdir-active-btn,.leikar-active-btn{
	color:#AF1F44;
}

/******************* Dagatal ********************/
/*************************************************/

.calendar-container{
	width: 80%;
	margin: 0 auto;
	padding-top: 80px;
}
.calendar-filter-container{
	width: 100%;
	height: 40px;
	border: solid 1px #000;
	display: flex;
	align-items: center;
}
.calendar-filter{
	width:80%;
	display:flex;
	flex-direction: row;
	align-items: center;
}
.filter{
	display: flex;
	flex-direction: row;
}
.dates,.shows{
	width: 27.5%;
}

li.shows.filter{
	margin-left:-60px;
	position: relative;
}
li.shows.filter:after{
	content: '';
	width: 1px;
	height: 40px;
	background-color: #AF1F44;
	position: absolute;
	bottom: -68%;
    left: -18%;
}
button.cal{
	margin-top:0;
}
.what-time,.time, .price{
	width: 15%;
}
.calander-filter.fa-angle-down{
	color:#000;
}
.filter-result{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 20px 0;
}
.show-info{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
.show-info .dates{
	font-size: 36px;
	font-weight: 300;
	padding-left: 40px;
	
}
.show-info .day{
	font-size: 12px;
    padding-top: 12px;
    text-align: center;
    padding-left: 5px;
    letter-spacing: 1px;
}
li.dates.filter{
	padding-left: 60px;
}
.dates.filter .fas{
padding: 0 16px;
}
.dates.filter .fas:hover{
	color:#AF1F44;
}
/* Prufa með panel */
.accordion{
	font-size: 40px;
	padding-left:-24px;
	cursor: pointer;
	position: absolute;
	left:40%;
}
.accordion:hover{
	color:#AF1F44;
}
.panel{
    width: 100%;
    height: 216px;
    background-color: #fff;
    display: none;
    overflow: hidden;
}
.panel-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.panel-content-holder{
	width: 80%;
	display: flex;
	flex-direction:column;
}
.panel-content-holder span{
	color:#AF1F44;
}
.panel-container img{
	width:270px;
	height:203px;
	margin-right: 24px;
}
.panel-content-holder button.kaupa-btn{
	color:#AF1F44;
	background-color: #fff;
	border: solid 1px #AF1F44;
	margin-top: 40px;
}
.panel-content-holder button.kaupa-btn:hover{
	background-color:#AF1F44;
	border: none;
	color:#fff;
}
/* header fyrir dagatal og sýningar*/
.header-banner{
	width: 100%;
	height: 350px;
	background-image: url(../img/bannerDagatal.jpg);
	background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

/******************* Valin syning ********************/
/*************************************************/

/* Hero content */
.hero-valin-syning .hero-info{
	padding-top: 40px;
	color:#fff;
	display: flex;
	width: 65%;
	height: 40px;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.lina-1{
	width: 1px;
    background-color: #AF1F44;
    height: 100%;     
}
/******** Sýningar content ******/
.syninga-info-container{
	width: 80%;
	margin: 0 auto;
}
.syninga-info-content{
	padding-top: 80px;
	width: 70%;
	margin: 0 auto;
}
.syninga-info-content h5{
	padding-bottom: 40px;
}
.syninga-info-content p{
	padding-bottom: 40px;
}
.lina-2,.lina-3{
	margin: 0 auto;
	width: 240px;
    background-color: #AF1F44;
    height: 1px;   
}
.lina-3{
	margin-bottom: 40px;
}
.content-box2{
	padding-top: 40px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.content-box2 span{
	color:#AF1F44;
}
/* mini calendar */
.mini-calendar{
	width: 350px;	
	height: 234px;
}
.month{
	width: 100%;
	padding-bottom: 16px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.mini-calendar .fas{
	padding: 0 8px;
}
.weekdays{
	width: 100%;
	color:#AF1F44;
	font-weight: 400;
}
.weekdays li{
	display: inline-block;
    width:calc(300px/7);
    text-align: center;
    padding-bottom: 8px;  
}
.days li{
    display: inline-block;
   	width:calc(300px/7);
    text-align: center; 
    padding-bottom: 8px;  
}
li div .active{
	color:#fff;
	font-weight: 400;
	position:absolute;
	top: 4px;
	left:4px;	
}
.active-background{
	position: relative;
	height: 25px;
 	width: 25px;
 	background-color: #AF1F44;
 	border-radius: 50%;
 	display: inline-block;
 	top: 8px;
 	margin-top: -8px;
}
.content-box3{
	text-align: center;
	font-style: italic;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 40px;
}
.content-box3 button{
	float:right;
}
/* hringekja */
.img-display-container{
	margin: 0 auto;
	width: 100%;
	padding-top: 80px;
	position: relative;		
}
.mySlides{
	margin: 0 auto;
	width: 90%;
	display: none;	
}
.mySlidesBtn{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	font-size: 24px;
	position: absolute;
	top:55%;

}

/******************* Media Queries max-width:800********************/
/*************************************************/

/*Forsíða*/

@media screen and (max-width: 800px){
	.hero-ad{
		height: 100%;
		margin: 0 auto;
	}
	.hero-ad-content{
		width: 95%;
		margin: 0 auto;
	}
	.hero-ad-content h2{
		padding-top:40px;
		padding-bottom: 16px;
	}
	.hero-ad.one,.two{
		background-image:none!important;
		background-color: #fff;
	}
	.hero-ad-content.second{
		color:#000!important;
	}
	.mobile-banner{
		margin: 0 auto;
		display: block;
		width: 95%;
		height: auto;
	}
	.tjarnarbarinn-img{
		width: 95%; 
		height: auto;
	}
	.tjarnabarinn-container{
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 0 auto;	
	}
	/*Cards*/
	.cards-frontpage-container{
		width: 95%;
	}

	.cards-container{
		width: 100%;
	}

	.cards-container .card{
		width: 160px;
		height: 240px;
	}

	.cards-container img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	/********* Dagatal ***********/
	.filter-result{
		position: relative;
	}
	.accordion{
		right: 0;
		left: 0;
	}
	.calendar-container{
		width: 95%;
	}
	.show-info{
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content:center;
	}
	li.shows.filter{
		margin-left: 8px;
	}
	li.dates.filter{
		padding-left:0;
		width: 30%;
		margin-left: -30px;
	}
	.show-info .dates{
		padding-left:8px;
	}
	.calendar-filter .shows.filter,.what-time.filter,.time.filter,.price.filter{
		display: none;
	}
	.dates.filter{
		width: 100%;
	}
	.calendar-filter .dates.filter{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.calendar-filter{
		width: 100%;
	}
	.kaupa-btn.cal{
		font-size:12px;
		width: 80px;
		height: 40px;
	}
	/*panel*/
	.filter-result.panel{
		height: 100%;
	}
	.panel-container{
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	width: 100%;
    	align-items: center;
	}
	.panel-content-holder {
    	width: 90%;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	.panel-container img{
		margin-bottom: 16px;
		margin-right:0;
		width: 100%;
    	height: auto;
}
	}
	.panel-content-holder button.kaupa-btn{
		margin-top:24px;
	}

}
