h1, h2, h3, h4{
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Roboto Condensed', sans-serif;
}
h1, h2{
	font-size: 72px;
	line-height: 120%;
}
h3{
	font-size: 18px;
	font-weight: 700;
	position: relative;

}
h4{
	font-size: 12px;
	font-weight: 700;
}
h5{
	font-size: 24px;
	font-weight: 600;
	color:#AF1F44;	
}
p{
	line-height: 24px;
}
p span{
	font-weight: 600;
}
/******************* Valmynd *****************/
#global-nav{
	background-color: none;
	width: 100%;
	z-index: 100;
	position: fixed;
}
.scrolled-nav{
	background-color: #fff!important;
} 
.scrolled-nav .logo{
	display: none;
}
.scrolled-nav .logo-scrolled{
	width: auto;
	height: 50px;
	position: absolute;
	top:7%;
	left: 5%;
}
.logo-fixed{
	height: 50px;
	width: auto;
}
header .nav-container{
	width: 90%;
	height: 70px;
	margin: 0 auto;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
}
header .desktop a{
	color:#fff;
	font-weight: 600;
}
header .fa-search{
	color: #fff;
}
.scrolled-nav .desktop a:hover{
	color:#AF1F44;
}
header .desktop a:hover{
	color:#AF1F44;
}
.fa-bars{
	color:#fff;
	font-size: 24px;
}
.scrolled-nav .desktop a{
	color:#000;
	font-weight: 600;
}
.scrolled-nav .fa-bars{
	color:#000;
}
header .top-nav{
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 55%;
	padding-right: 20px;
	justify-content: space-between;
}
.logo{
	height: 50px;
	width: auto;
}
/* mobile menu*/
.mobile{
	display: none;
}
 .mobile-menu{
 	right:0;
	background-image: url(../img/banner-1.jpg);
	background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
	position: absolute;
	width: 0;
	height: 100vh;
	top: 0;
	opacity: 0;
 }
.show-menu{	
	opacity: 1;
	width: 100%;
}
 .fa-times{
 	position: absolute;
 	right:24px;
 	color:#fff;
 	font-size: 24px;
 	top:24px;
 	cursor: pointer;
 }
.mobile-nav li,.mobile-nav a {
	display: flex;
	flex-direction: column;
	color:#fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding-top: 24px; 
}
.mobile-nav{
	padding-top: 40px;
}
.mobile-nav .mobile-search-field{
	display:flex;
	flex-direction: row;
	justify-content: center;
	font-weight: 300;
	text-align: center;
	position: relative;
}
.mobile-nav .mobile-search-field:after{
	content: "";
	position: absolute;
	height: 1px;
	background-color: #fff;
	width: 60%;
	margin-top: 36px;
}
/* leit */

input#searchInput{
    background: none;
    border: none;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px
    width: 60px;
    height: 24px;
    }
::placeholder {
  color:#fff;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  padding-left: 8px;

}
.scrolled-nav li.desktop input#searchInput{
	color:#000;
}

/******************* Takkar *****************/
.kaupa-btn{
	display: flex;
    text-decoration: none;
    border-style: none;
    color: #fff;
    background-color: #AF1F44; 
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px;
    width: 160px; 
    justify-content: center;
    align-items: center; 
    transition: all .4s;
    font-weight: 700;
    margin-top: 16px;
    cursor: pointer;
}
.kaupa-btn:hover{
	background: none;
	border: solid 1px;
	color:#AF1F44;
}
/*********** Footer ************/
footer{
	width: 100%;
	background-color:#1E1E1E;
}
.footer-container{
	width: 90%;
	margin: 0 auto;
	height:400px;
	color:#fff;
}
.footer-top{
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;	
}
footer .contact-info{
	display:flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: flex-end;
	padding-right: 40px;
}
footer .fab{
	color:#fff;
	font-size: 20px;
	padding-left:40px;
}
.logo-footer{
	height: 80px;
}
.footer-bottom{
	display: flex;
	flex-direction: row;
	position: relative;
}
.footer-bottom p{
	margin-bottom: 8px;
}
.footer-bottom:after{
	content:'';
	width: 100%;
	position: absolute;
	border-bottom: solid 1px #fff;
	top: 20%;
}
footer .bottom-content{
	width: 25%;
	padding-left: 20px;
	padding-top:80px;
}
footer h3{
	padding-bottom: 16px; 
}
.bottom-content.second p{
	text-decoration: underline;
}
.bottom-content input{
	background: none;
	border: solid 1px #fff;
	height: 32px;
	color:#fff;
	width: 160px;
	margin-bottom: 16px;
}

/******************* Media Queries max-width:800********************/
/*************************************************/

@media screen and (max-width: 800px){
	h1, h2{
	font-size: 40px;
	}
/**************---navigation---*****************/
   nav .top-nav .desktop{
        display: none;
    }

 .mobile{
	display: block;
}
 /******************* Hamburger menu *****************/

 /**************---footer---*****************/
 
 .footer-container{
 	height: 100%;
 	width: 100%;
 	position: relative;
 	
 }
 .contact-info{
 	align-items: flex-start;
 }

 .contact-info span{
 	position: absolute;
 	bottom: 0;
   left: 50%;
   margin-left:-54px;  
}
 .footer-bottom{
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
	padding-top: 20px;
}
footer .bottom-content{
	margin: 0 auto;
	width: 60%;
	padding-left: 0;
	padding-top:24px;
	text-align: center;	
}

.footer-top{
	align-items: center;
	padding-top: 24px;
}
.logo-footer{
	height: 60px;
}
.footer-bottom:after{
	border-bottom: 0;
}

}










